<%- include('./partials/homenavbar.ejs')%>
    <%- include('./partials/header1.ejs')%>


        <body>
            <div class="container">
                <h2>Consulta:
                    <%= appo.description %>
                </h2>
                <hr>
                <h4>Paciente:
                    <%= appo.name %>
                </h4>
                <h4>Email:
                    <%= appo.email %>
                </h4>
                <h4>CPF:
                    <%= appo.cpf %>
                </h4>
                <hr>
                <% if( !appo.fineshed) { %>

                    <form action="/finish" method="POST">
                        <input type="hidden" name="id" value="<%= appo._id %>">
                        <button>Finalizar Consulta</button>
                    </form>
                    <% } %>
            </div>

        </body>